

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.header{
    display: grid;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
    max-height: 850px;
}


.paragraph{
&::before{
    color:#fff;
 }
  margin: 1em;
}
  
.paragraph{
    grid-area: text;
}
  .nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 50px;
  }
  
  .picture{
    grid-area: figure;
    align-self: center;
    gap: 10px;
   
  
  }
  .nav .nav__link{
    text-decoration: none;
    color: #000;
    padding-top: 20px;
    font-size: 1.3rem;
    display: flex;
    
  }
  
   .nav__link::before{
      content: "";
      display: block;
      background:slateblue;
      width: 120%;
      height: 37%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      clip-path: var(--clippy);
      transition: clip-path 2s;
      overflow: hidden;
      color: #fff;
  
  }

 
   
  
  
  .nav__link:hover::before{
    --clippy: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    color: #fff ;
  
  }

  .nav--git::before{
    background-color: crimson;
    color: #fff;
  }
  
  .nav--cv::before{
    background-color: #ff8800;
    color: #fff;
  }
  
  .nav .nav--celu::before{
    background-color: steelblue;
    color: #fff;
  }
  
  .picture .picture__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #000;
  }

  @media only screen and(max-width:500px) {
    .nav__link::before{
      height: 10%;
    }
  }

  