*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav header header"
    "content content content"
    "footer footer footer"
    ;
}

.header{
    grid-area: header;
}

.nav{
    grid-area: nav;
}

.slider{
    grid-area: content;
}

.footer{
    grid-area: footer;
}


@media only screen and(max-width:768px) {
    .page{
        grid-template-areas: 
         "content content content"
         "nav      nav      nav"
         "content content content"
         "footer  footer   footer"   
        ;
    }
}